#Green{
    -fx-background-color: lightgreen;
    }

#Blue{
    -fx-background-color: skyblue;
}

#Red{
    -fx-background-color: #FF5954;
}
.panelBlured{
    -fx-background-color: #EFFFFF;
    -fx-opacity: 0.7;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.carton{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#carton1{
    -fx-background-color: FF5D59;
}
#carton2{
    -fx-background-color: #54C219;
}

.grid{
    -fx-background-color: #F5FFFF;
}

#fondo{
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.mesa{
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-background-color: #B36A39;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}

#redondeo{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#victoria {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.marcado{
    -fx-background-color: transparent
}

.marcado:selected{
    -fx-background-color: #BDEFFF;
}
